.services{
    width: 100%;
    padding-top: 10px;

    .services-top{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;

        .services-text{
            list-style: none;

            .title{
                font-family: revert;
                font-size: 25px;
                font-weight: 600;
                color: black;
                padding-bottom: 10px;
            }

            .content{
            font-family: revert;
            font-size: 17px;
            }
        }
      }

    .row{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding-top: 25px;

        .container{
            width: 14%;
            display: flex;
            flex-wrap: wrap;
            border-radius: 4px;
            padding: 30px 15px 15px 15px;
            box-shadow: 0px 0px 10px -3px #888888;

            ul{
                list-style: none;
                padding: 0px;

                li.desc-title{
                    font-size: 25px;
                    display: flex;
                    padding-bottom: 10%;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    font-family: revert;
                }
            }

            .fbox-icon{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 30%;
                }

                img.icon-cloud{
                    width: 40%;
                }
            }

            .fbox-desc{
                width: 100%;

                li.desc-content{
                    font-size: 17px;
                    text-align: inherit;
                    font-family: revert;
                    padding-top: 10%;
                    padding-bottom: 20%;
                    width: 100%;
                  
                }
            }

            .fbox-btn{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 10%;

                a{
                    color: #F47F1F;
                    font-style: italic;
                    font-weight: 600;
                    font-size: 17px;
                    font-family: revert;
                    text-decoration: none;
                }
            }
        }
    }
  }